<h1>Like#like_created</h1>

<%= @user.email %> create <%= @like.id %>
<%= image_tag "rails3.png", {:style =>  "width:200px;"} %>

<p>
<%= @greeting %>, find me in app/views/like_mailer/like_created.text.erb
</p>


