<h1>Friend request aceapt</h1>

<table>

	<thead>
			    <tr>
			    	<th> Friend request aceapt User </th>
				    
			    </tr>
	</thead>

			<tbody>

				<td>
					<% User.all.each do |user| %>
						  <%= user.name %><br>
          <% end %>
				</td>

	      <td>
						<% Friendship.all.each do |x| %>
							<% if x.confirmation == true %>
							  <%= x.confirmation %><br>
							<% end %>
						<% end %>
        </td>
      </tbody>
</table>