<h1>All request Show</h1>
<% Friendship.where(receiver_id: current_user.id).each do |x| %>
	<br> <%= x.confirmation %><br>
	<%= User.find(x.sender_id).email %><br>
  <%= User.find(x.sender_id).name %><br>
  <%= link_to "accept request", edit_friendshipe_path(x.id) %><br>    
<% end %>



