<h1>index.html.erb</h1>
<!-- 
user_profile/new.html.erb
<% if request %>

	       <%#= button_to " send request", friendshipes_path(sender_id: current_user.id, receiver_id: user.id) %>

	    
	   <% else %>

	       <%#= button_to "remove request", friendshipes_path %>  
	  
	   <% end %>
 -->